<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="AppDatabase" connectionString="Application Name=KnowledgeCenter;Data Source=.;Initial Catalog=KnowledgeCenter;Persist Security Info=True;User ID=kcenter_user;Password=YouNameIt" providerName="System.Data.SqlClient"/>
        <add name="MembershipDatabase" connectionString="Application Name=KnowledgeCenter;Data Source=my.gaziki.de\SQLSERVER;Initial Catalog=communityserver_TEST;Persist Security Info=True;User ID=sa;YouNameIt" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>